/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 versions
*/

#description {
    padding: 0.8rem;
    font-size: 2rem;
    font-style: italic;
    }
#exit { text-align: right; }
#exit button {
    border: none;
    color: blue;
    background-color: #ffffff00;
    }
#exit button:active { color: blueviolet; }
#list>ul { list-style-type: none; }
#list details { margin: 0.8rem; }
#list details>ul { list-style-type: disc; }
#list { font-size: 2rem; }
#title {
    font-size: 2.4rem;
    text-decoration: solid;
    -webkit-text-decoration: solid;
    }
.error { color: red; }
html {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    }
body { padding: 2.4rem 4.8rem; }